@import
url(https://fonts.googleapis.com/css?family=Open+Sans);

*{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}

/* ul{
	width: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
} */
li{
	display: inline-block;
	margin: 10px;
}
.download{
	width: 200px;
	height: 75px;
	background: #000;
	float: left;
	border-radius: 4px;
	position: relative;
	color: #fff;
	cursor: pointer;
	border: 1px solid #fff;
	align-items: center;
}
.download .fa{
	color: #fff;
	position: absolute;
	top: 50%;
	left: 15%;
	transform: translate(-50%, -50%);
}
.p1, .p2{
	position: absolute;
	left: 70px;
}
.p1{
	top: 20px;
	font-size: 12px;
}
.p2{
	top: 35px;
	font-size: 16px;
}
.download:hover{
	filter: invert(100%);
}
